VITE_SUPABASE_TARGET=local

VITE_LOCAL_SUPABASE_URL=http://127.0.0.1:54321
VITE_LOCAL_SUPABASE_PUBLISHABLE_KEY=

VITE_REMOTE_SUPABASE_URL=https://xhkymcpkvekuvoxiucoe.supabase.co
VITE_REMOTE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_jy5FhtJQh4mHLDrRMJ-JgQ_RxHSF1wm

VITE_AUTH_REDIRECT_URL=
